Source: ros-groovy-rocon-app-manager-msgs
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>, Jihoon Lee <jihoonl@rnd.yujinrobot.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-message-generation,ros-groovy-catkin
Homepage: http://www.ros.org/wiki/rocon_app_manager_msgs
Standards-Version: 3.9.2

Package: ros-groovy-rocon-app-manager-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-message-runtime
Description: Messages used by the platform app manager.
